
@{
    ViewBag.Title = "Profilo";
}

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Il mio profilo</div>
            <div class="panel-body" style="padding:0;">
                <ul class="list-group" style="margin:0;">
                    <li class="list-group-item">
                        <span class="badge">modifica</span>
                        Nome : Stefano
                    </li>
                    <li class="list-group-item">
                        <span class="badge">modifica</span>
                        Cognome : Vuerich
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 hidden-sm"></div>
</div>


