<div class="row">
    <div class="col-md-9">

        <div class="hidden-xs" style="width:100%; height:380px; background-color:red;"></div>

        <div class="row">
            <div class="col-md-6">
                <h2 class="pageTitle">Last News</h2>
                <ul id="lastNews">
                    @*ultime cinque news inserite dinamicamnte*@
                </ul>
            </div>
            <div class="col-md-6">
                <h2 class="pageTitle">Next Events</h2>
                <ul id="nextEvents">
                    <li><a href="#">Titolo prima news</a></li>
                    <li><a href="#">Titolo prima news</a></li>
                    <li><a href="#">Titolo prima news</a></li>
                    <li><a href="#">Titolo prima news</a></li>
                    <li><a href="#">Titolo prima news</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">

        @*VISUALIZZA QUADRO ORE*@
        <div style="width:100%;
                    height:170px;
                    border-bottom-left-radius:10px;
                    border-top-right-radius:10px;
                    border:2px solid #428bca;
                    margin-bottom:20px;"></div>

        @*LOGIN FORM*@
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>

        @*NEWSLETTER*@
        <div class="panel panel-primary">
            <div class="panel-heading">Iscriviti alla newsletter</div>
            <div class="panel-body">

                <form role="form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script type="text/javascript">
    $(function () {
        lastNews();
    });

    function lastNews() {
        $.ajax({
            url: 'http://localhost:18316/api/newsApi',
            type: 'GET',
            datatype: "json",
            success: function (data) {

                for (var i = 0; i <= 4; i++) {

                    var news = new Object();
                    news.data = data[i].Data;
                    news.titolo = data[i].Titolo;
                    news.testo = data[i].Testo;
                    news.foto = data[i].Foto;

                    var lastNewsCell = '<li><a href="#">' + news.titolo + '</a></li>';

                    $('#lastNews').append(lastNewsCell);
                }

            }, error: function (data) {
                $('#BottoneConferma').css('display', 'none');
                $('#userItemsList').html("Errore nel recupero delle info utente");
            }
        });
    }
</script>

